@model CodeSnippets.Models.Problem
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Problems</h1>
    <p>@ViewBag?.Title</p>

    <p>@ViewBag?.Problem?.Title</p>
    <p>@ViewBag?.Problem?.Description</p>


</div>
